<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mozilla.hackathon.kiboko"
    android:versionCode="1"
    android:versionName="1.0.0"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name="com.mozilla.hackathon.kiboko.App"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".activities.DashboardActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.SplashTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FindIconsActivity"
            android:parentActivityName=".activities.DashboardActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_findicons" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.TutorialSlideActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Usage Topic" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="vnd.android.cursor.item/vnd.mozilladso2016.tutorial" />
                <!-- Accepts URIs that begin with "http://mozilla-dso.com/tutorial" -->
                <data android:scheme="http"
                    android:host="mozilla-dso.com"
                    android:pathPrefix="/tutorial" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TopicListActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Phone Usage" >

        </activity>
        <activity
            android:name=".activities.ResultActivity"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".activities.DashboardActivity"
            android:label="Phone Usage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.DashboardActivity" />
        </activity>
        <activity
        android:name=".activities.DetailsActivity"
        android:windowSoftInputMode="stateHidden"
        android:label="@string/title_activity_details" >

    </activity>

        <activity
            android:name=".activities.QuizActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="Usage Topic Quiz" >

        </activity>

        <receiver android:enabled="true" android:name=".recievers.DSOAirplaneModeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".recievers.DSOReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".recievers.DSOBatteryReceiver" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.BATTERY_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".recievers.DSOStorageReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".recievers.DSOInstalledBroadcastReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <receiver
            android:enabled="false"
            android:exported="false"
            android:name=".recievers.DSONetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".recievers.DSOLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name="com.mozilla.hackathon.kiboko.services.ChatHeadService" >
        </service>

        <!-- Data, sync and schedule editing components -->

        <provider
            android:name=".provider.DsoProvider"
            android:authorities="com.mozilla.hackathon.kiboko"
            android:exported="true"
            android:label="@string/app_name"
            android:syncable="true"
            android:writePermission="com.mozilla.hakathon.kiboko.permission.WRITE_SCHEDULE" />

        <service
            android:name=".sync.SyncService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- An IntentService responsible for bootstrapping the app with the necessary
            data such as tutorials, etc. This data is used prior to the app's
            first sync to the backend server. -->
        <service
            android:name=".services.DataBootstrapService"
            android:exported="false" />

    </application>

</manifest>
